input,
button {
  padding: 20px;
  border-style: none;
  outline-color: aliceblue;
  border-radius: 5px;
  font-size: 18px;
}

input {
  padding: 20px 70px;
  margin: 10px;
  border: 3px solid rgb(40, 40, 143);
}

button {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(40, 40, 143, 0.911);
  outline-style: none;
}

BU .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #252424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
